*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.cabecalho{

    font-size: 30px;
    text-align: left;
    height: 100px;
    padding: 20px;
    background-color: rgb(31, 27, 27);
    border: 1px solid #181717;
}

.textocabecalho{
    text-decoration:none;
    font-family:"Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-align: left;
    color: #fff;
   
}

body{
    background-image:url(/paginas/programa.jpg); 
    background-size:100%;
   
}

h1{
    font-size: 60px;
    text-align: center;
    font-family: "rowdies", sans-serif;
    color: #fff ;
    padding: 30px;
    margin:30px

}

 label{

    text-align: center;
    font-family: "rowdies", sans-serif;
    color: #fff ;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 60px;



}

.borda{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-45%, -45%);
    border-radius: 40px;
    border: 2px solid #fff;
    margin-left: 40px;
    margin-right: 40px;
    background:transparent ;
    backdrop-filter: blur(20px);
    width: 400px;
    height: 400px;
    padding-top: 50px;
    

}

.botao{
    margin-left: 100px;
    margin-top: 50px;


}



button{
    font-size: 20px;
    color: #fff;
    width: 200px;
    height: 100px;
    text-align: center;
    font-family:"Rowdies", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(51, 51, 51);
    border:1px black;
    margin-left:80px;
    margin-bottom: 10px;
    padding:10px;
    box-shadow: 3px 5px 4px  #777777;
    border-radius: 10px;



}
button:hover{
    box-shadow: 3px 5px 4px #ffffff;
}


