*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabecalho{

    font-size: 30px;
    text-align: left;
    height: 100px;
    padding: 20px;
    background-color: rgb(31, 27, 27);
    border: 1px solid #181717;
}

.textocabecalho{
    text-decoration:none;
    font-family:"Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-align: left;
    color: #fff;
   
}


body{
    background-image:url(/paginas/programa.jpg); 
    background-size:100%;
   
}



h1{ 
    font-size: 60px;
    margin: 20px;
    font-family:"Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 4px 2px #4da5a1;
}

.kauan{
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    margin: 50px;
    margin-bottom: 10px ;
   
}

.textobody{
    box-sizing: border-box;
    margin-top: 100px;
    border-radius: 30px;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 700px;
    height:650px;
    background:transparent ;
    backdrop-filter: blur(20px);
    

}

p{
    margin: 10px;
    padding: 5px;
    text-align:left;
    font-size: 20px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    color: #fff;
    
}

h3{
    text-decoration: underline;
    margin: 5px;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700px;
    font-size: 30px;
    color:#62d3cd;


}

