*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.cabecalho{

    font-size: 30px;
    text-align: left;
    height: 100px;
    padding: 20px;
    background-color: rgb(31, 27, 27);
    border: 1px solid #181717;
}

.textocabecalho{
    text-decoration:none;
    font-family:"Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-align: left;
    color: #fff;

}




body{
    background-image:url(/paginas/programa.jpg); 
    background-size:100%;
   
}

.bordaTexto{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 500px;
    height: 650px;
    border: 2px solid white;
    border-radius: 10px;
    background:transparent ;
    backdrop-filter: blur(20px);
    padding: 10px;
    
    


}


h1, h2 {
    
    font-family:"Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #ececec;
       
    


}

button{
    font-size: 20px;
    color: #fff;
    width: 300px;
    height: 100px;
    text-align: center;
    font-family:"Rowdies", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(51, 51, 51);
    border:1px black;
    margin-left:80px;
    margin-bottom: 10px;
    padding:10px;
    box-shadow: 3px 5px 4px  #777777;
    border-radius: 10px;



}
button:hover{
    box-shadow: 3px 5px 4px #ffffff;
}

